	<div class="hero-image">
	<%= image_tag("forcee.jpg", class:"img-responsive") %> 
	</div>	

<!-- Start feature products -->
  
  <div class="index-container.container.text-center">
  	<h1 class="welcome">Your source for Austria's best fashion designers</h1>
  </div>


  <div class="container-fluid">
  	<div class="row">	
  		<div class="col-md-6 col-xs-6" id="feature-1">
  			<a href="#">
  				<%= image_tag("force4.jpg", class:"img-responsive her") %>
            <p class="gender"><span class="title">FOR HER<br>Dark collection</span></p>
  					<h2>Luxuriously soft, versatile and always organic.</h2>
  			</a>
  		</div><!--col -->

  		<div class="col-md-6 col-xs-6" id="feature-1">
  			<a href="#">
  				<%= image_tag("force6.jpg", class:"img-responsive" ) %>
            <p class="gender"><span class="title">FOR HIM<br>Dark collection</span></p>
            <h1 class="call-to-action"><span>Shop here</span></h1>
  					<h2>Luxuriously soft, versatile and always organic.</h2>		
  			</a>
  		</div>
  	</div>
  </div>

  <!-- Start Online shop -->

  <div class="shop-product">
  	<div container="text-center">
  		<h1>Get the Goods</h1>
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4 col-xs-6" id="good-1">
  				<a href="#">
  					<%= image_tag("shirt.jpg", class:"img-responsive" ) %>
  						<div class="good-type">
  							<h3>Blouse</h2>
                  <span>
                    <button class="shop-button">
                      <span class="shop">Shop</span>
                    </button>
                  </span>
  						</div>
  				</a>
  			</div>

  			<div class="col-md-4 col-xs-6" id="good-2">
  				<a href="#">
  					<%= image_tag("shirt.jpg", class:"img-responsive" ) %>
  						<div class="good-type">
  							<h3>Dress</h2>
  								<span>
  									<button class="shop-button">
  										<span class="shop">Shop</span>
  									</button>
  								</span>
  						</div>
  				</a>
  			</div>
  
  			<div class="col-md-4 col-xs-6" id="good-3">
  				<a href="#">
  					<%= image_tag("shirt.jpg", class:"img-responsive" ) %>
  						<div class="good-type">
  							<h3>T-Shirt</h2>
                  <span>
                    <button class="shop-button">
                      <span class="shop">Shop</span>
                    </button>
                  </span>
  						</div>
  				</a>
  			</div>
  	</div>
  </div>
  	
  			


