<% if signed_in? %>
	<!-- <h4>Add a review:</h4> -->
	<%=	form_for([@product, @product.comments.build], remote: true) do |f| %>
		<p>
			<%=	f.label	:body,	"Leave Us A Comment"	%><br>
			<%=	f.text_area	:body, class:'text-area'	%>
		</p>
		<p>
			<div class="rating">
			<%= f.label	:rating, "Rate Our Product"	%><br>
		<!--	<%=	f.text_field	:rating,	class: "rating" %> -->
			</div>
		</p>
		<p>
			<%=	f.submit	"Submit"	%>
		</p>
	<% end %>
<% end %>