
<div class="col-sm-2 col-md-4">	
  <%= image_tag(product.image_url, class: "img-responsive") %>
    <a href="#"><h1 class="product_name"><%= link_to product.name, product %></h1></a>
      <p class="product_description"><%= product.description %></p>
      <p class="product_description"><%= product.colour %></p>
      <p class="product_price"><strong><%= product.price_in_cents/100 %> Eur</strong></p>
	</div><!-- /col -->
 


