<div class="main ">
    <div class="notice-show">
        <p id="notice"><%= notice %></p>
    </div><!-- notice -->
    <div class="container">
        <div class="row" data-product-id="<%= @product.id %>">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
            <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6">
                <% cache @product do %>
                <h1 class="name-show"><%= @product.name %></h1>
                <h2 class="color-show"><%= @product.colour %></h2>
                <h3 class="price-show"><%= @product.price_in_cents/100 %> Eur</h3>
                <div class="pay-button">
                    <%= form_with(url: '/payments/create') do |form| %>
                    <%= render partial: "shared/stripe_checkout_button" %>
                    <%= hidden_field_tag(:product_id, @product.id) %>
                    <% end %>
                </div>
                <h4 class="rated-caption"><p class="rated" id="average-rating" data-score="<%= @product.average_rating %>">Average Rating:&nbsp</p>
                </h4>
                <h5 class="views-count">Views:&nbsp<p class="badge"><%= @product.views %></p></h5>       
                <h4 class="description-show"><%= @product.description %></h4>
                <h4 class="back-edit-show">
                    <%= link_to 'Edit', edit_product_path(@product) %><span>
                    <% if current_user && current_user.admin? %>
                        <%= link_to "Delete", @product, method: :delete, class:'btn btn-danger', data: {confirm: 'Are you sure?'}%> 
                    <% end %>  
                    <%= link_to 'Back', products_path %></span>
                </h4>
                <% end %>
            </div>
        </div>
    </div><!-- container upper -->
    <div class="container bottom-right">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">  
                <h2 class="customer-reviews">Reviews</h2>
                <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
                <%= render 'comments'   %>
                <div class="digg_pagination">
                    <div class="page_info">
                    <%= page_entries_info @comments %>
                    </div>
                    <div>
                    <%= will_paginate @comments, :container => false %>
                    </div>
                </div>
            </div><!-- col -->
            <div class="new-comment col-md-6 col-xs-12 col-sm-6">
                <p><%= render 'new_comment' %></p>
            </div><!-- Col -->
        </div><!--  Row -->    
    </div><!-- container bottom -->
</div>





